In [1]:
import pandas as pd

In [2]:
# read first data
data1 = pd.read_csv('data-1.csv')
data1

            x          y
0   29.168628  26.350615
1   12.801887  11.705425
2   19.744856  15.331458
3   34.890718  27.384153
4   30.410696  20.859101
..        ...        ...
95  16.478878  15.896346
96   8.126000  13.606581
97  29.430446  24.362231
98   9.522945  17.087944
99  12.823872  17.084992

[100 rows x 2 columns]

In [3]:
# mean, standard deviation, and range (min and max) of both the x and y variables
mean_x, mean_y = data1['x'].mean(), data1['y'].mean()
sd_x, sd_y  = data1['x'].std(), data1['y'].std()
min_x , max_x = data1['x'].min(), data1['x'].max()
min_y , max_y = data1['y'].min(), data1['y'].max()

In [4]:
# correlation coefficient (r) between the x and y
r = data1['x'].corr(data1['y'])

In [5]:
mean_x, mean_y, sd_x, sd_y, min_x , max_x, min_y , max_y, r

(8.717696186413818,
 12.522874034702589,
 12.155517231222024,
 6.63996400756785,
 -22.635877790008944,
 35.23705548785129,
 -2.565087832693213,
 27.38415261152477,
 0.9503256954375483)

In [15]:
# write function to extract summary
def summary(n):
    # create df with col names
    df = pd.DataFrame(columns=['filename','x_min', 'x_max', 'x_mean', 'x_sd', 'y_min', 'y_max', 'y_mean', 'y_sd', 'r'])
    for i in range(n):
        file = "data-" + str(i+1) +".csv"
        # read data
        data = pd.read_csv(file)
        df.loc[i, 'filename'] = file
        # mean, standard deviation, and range (min and max) of both the x and y variables
        df.loc[i, 'x_min'], df.loc[i, 'x_max'] = data['x'].min(), data['x'].max()
        df.loc[i, 'y_min'], df.loc[i, 'y_max'] = data['y'].min(), data['y'].max()
        df.loc[i, 'x_mean'], df.loc[i, 'y_mean'] = data['x'].mean(), data['y'].mean()
        df.loc[i, 'x_sd'], df.loc[i, 'y_sd'] = data['x'].std(), data['y'].std()
        # correlation coefficient (r) between the x and y
        df.loc[i, 'r'] = data['x'].corr(data['y'])
    
    return df

In [18]:
df = summary(6)
df

,filename,x_min,x_max,x_mean,x_sd,y_min,y_max,y_mean,y_sd,r
0,data-1.csv,-22.635878,35.237055,8.717696,12.155517,-2.565088,27.384153,12.522874,6.639964,0.950326
1,data-2.csv,-33.271113,27.647,-0.710787,11.481584,-18.621804,14.147315,-0.748987,6.257918,0.955153
2,data-3.csv,-2.449064,4.518885,0.968907,2.235558,6.641734,10.551871,8.508535,1.149301,0.981937
3,data-4.csv,0.0,87.3767,49.905086,28.508611,0.0,44.56504,18.553837,16.545896,-0.081193
4,data-5.csv,4.337892,91.052863,49.909994,28.500001,0.055498,49.934197,18.555525,16.540796,-0.088236
5,data-6.csv,-24.333821,35.402139,7.216155,11.921599,-22.956357,36.079874,7.602215,11.764382,0.935069

##### Describe the data sets
1. Data-1 dataset contains two variables x and y where x has a mean of 8.71 with standard deviation = 12.15, and y has a mean of 12.52 with standard deviation = 6.64; x and y have a strong positive relationship.
2. Data-2 dataset contains two variables x and y where x has a mean of -0.71 with standard deviation = 11.48, and y has a mean of -0.74 with standard deviation = 6.25; x and y have a strong positive relationship (r-value similar to Data-1).
3. Data-3 dataset contains two variables x and y where x has a mean of 0.97 with standard deviation = 2.24, and y has a mean of 8.51 with standard deviation = 1.14; x and y have a strong positive relationship.
4. Data-4 dataset contains two variables x and y where x has a mean of 49.91 with standard deviation = 28.51, and y has a mean of 18.55 with standard deviation = 16.55; x and y have a weak negative relationship.
5. Data-5 dataset contains two variables x and y where x has a mean of 49.91 with standard deviation = 28.50, and y has a mean of 18.56 with standard deviation = 16.54; x and y have a weak negative relationship (dataset is similar to Data-4).
6. Data-6 dataset contains two variables x and y where x has a mean of 7.22 with standard deviation = 11.92, and y has a mean of 7.60 with standard deviation = 11.76; x and y have a strong positive relationship (r-value similar to Data-1 & Data-2).