# Assignment 4. Database Design

## Objectives

This assignment has two parts.

* In Part 1, you will be trained to draw an E/R diagram (Task 1) and transform it into relational schemas (Task 2).
* In Part 2, you will be trained to master important techniques related to database normalization (Tasks 3-5).

Download [A4.zip](A4.zip). Answer the questions in A4.ipynb.

## Part 1. Entity-Relationship Model (10 points)

You will design a database for SFU. This database will include information about departments, students, courses (and their offerings):

* Information about **students** includes their SID, name and age. The SID of a student is assumed to be unique, not shared by any other student. Each student is either a **graduate** or or an **undergraduate**. 
 - Each student must be in one category or the other, and cannot be in both categories simultaneously.
 - For graduate students, we record what their research field is.
 - For undergraduate students, we record their concentration.
 
 
 
* Information about **departments** includes their name and address. The name of a department is assumed to be unique, not shared by any other department.



* We need to be able to associate student with the departments with which they are affiliated. Each student has to be affiliated with exactly one department.



* Information about a course includes its number (e.g., "354"), name (e.g., "Introduction to Databases"), and capacity (e.g., 110). We also need to be able to know the unique department that owns each course: no cross-listing of courses across departments is allowed, and every course is owned by exactly one department.
 * Note: you cannot assume that course number uniquely identifies a course; in fact, you cannot assume even that course number together with course name uniquely identify a course. However, course number uniquely identifies courses within a department.
 
 
 
* Finally, we need to record all terms -- identified as semester (e.g., "fall") and year (e.g., "2018") -- in which each course has been offered in the history of the university.



* Assume that for a course to be offered during a term, it has at least one student enrolled. Also a course is offered at most once during each term. In other words, a course cannot have multiple sections during one term.



* Finally, assume that a student can take courses “owned” by departments with which the student is not affiliated. And a student should be enrolled in at least one course.


Please note that the following two sentences are not constraints (you don't need to enforce them in your ER-diagram). They just tell you what data might be like. 

1. Assume that for a course to be offered during a term, it has at least one student enrolled

2. Assume that a student can take courses “owned” by departments with which the student is not affiliated

### Task 1: E/R Diagram (5 points)

Render the SFU database in the version of the E/R model that we studied in class, with *exactly* the constraints and requirements specified above.

- Students: SID(key), name, age 
- Ugrad: SID(key), concentration
- Grad: SID(key), researchField
- Department: name(key), address
- Each student AFFILIATED WITH exactly one department (many-to-one)
- Course: number(key w/ f_key-only Dapartment), name, capacity
- Every course OWNED BY exactly one department (many-to-one)
- Term: semester, year
- A course is offered at most once each term (single-value constraint)
- A student must be enrolled in at least one course (participation constraint)

<img src="ER-diagram.png" alt="Drawing" style="width: 800px;"/>

### Task 2: From E/R Diagram to Relational Schemas (5 points).

Please follow the above E/R Diagram and write SQL queries to create required tables in `sfu.db`

In [1]:
%load_ext sql

%sql sqlite:///sfu.db

'Connected: @sfu.db'

In [2]:
%%sql

CREATE TABLE Students(
    SID CHAR(16), 
    name CHAR(48),
    age INT,
    PRIMARY KEY(SID)
);

CREATE TABLE Undergraduate(
    SID CHAR(16), 
    concentration CHAR(48),
    PRIMARY KEY(SID), 
    FOREIGN KEY(SID) REFERENCES Students(SID)
);

CREATE TABLE Graduate(
    SID CHAR(16), 
    researchField CHAR(48),
    PRIMARY KEY(SID), 
    FOREIGN KEY(SID) REFERENCES Students(SID)
);

CREATE TABLE Department(
    dname CHAR(48),
    address CHAR(64), 
    PRIMARY KEY(dname)
);

CREATE TABLE Course(
    dname CHAR(48),
    number INT,
    cname CHAR(48), 
    capacity INT NOT NULL,
    PRIMARY KEY(dname, number), 
    FOREIGN KEY(dname) REFERENCES Department(dname) 
    ON DELETE CASCADE   
);

CREATE TABLE Term(
    semester CHAR(48), 
    year DATE,
    PRIMARY KEY(semester, year)
);

CREATE TABLE AffiliatedWith(
    SID CHAR(16),
    dname CHAR(48), 
    PRIMARY KEY (SID, dname),
    FOREIGN KEY (SID) REFERENCES Students(SID),
    FOREIGN KEY (dname) REFERENCES Department(dname)
);

CREATE TABLE EnrolledIn(
    SID CHAR(16), 
    dname CHAR(48), 
    number INT, 
    PRIMARY KEY(SID, dname, number),
    FOREIGN KEY(SID) REFERENCES Students(SID), 
    FOREIGN KEY(dname) REFERENCES Department(dname), 
    FOREIGN KEY(number) REFERENCES Course(number)
);

CREATE TABLE OfferedIn(
    dname CHAR(48), 
    number INT,
    semester CHAR(48), 
    year DATE,
    PRIMARY KEY(dname, number, semester, year),
    FOREIGN KEY(dname) REFERENCES Department(dname), 
    FOREIGN KEY(number) REFERENCES Course(number), 
    FOREIGN KEY(semester, year) REFERENCES Term(semester, year)   
);

 * sqlite:///sfu.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Part 2. Normalization (10 points)

### Task 3. Decompose a relational schema into BCNF

Consider a relational schema and a set of functional dependencies: 

* $R(A,B,C,D,E)$ with functional dependencies $A \rightarrow E$, $BC \rightarrow A$, $DE \rightarrow B$

**Decompose $R(A,B,C,D,E)$ into BCNF. Show all of your work and explain, at each step, which dependency violations you are correcting. You have to write down a description of your decomposition steps. （2 points)**

**Given,**

    R(A, B, C, D, E)

    {A} -> {E}

    {B, C} -> {A}

    {D, E} -> {B}


* For R, using FD(X1) = {A} -> {E},


    R(A, B, C, D, E)

    {A}+ = {A, E} = R1(A, E)

    X1 + (R - R1) = R2(A, B, C, D)


* For R2, using FD(X2) = {B, C} -> {A},


    R2(A, B, C, D)

    {B, C}+ = {A, B, C} = R21(A, B, C)

    X2 + (R2 - R21) = R22(B, C, D)


**Therefore,**

    R1(A, E)

    R21(A, B, C)

    R22(B, C, D)
 
    R2(A, B, C, D)

### Task 4. Find a set of FDs that is consistent with a closed attribute set

A set of attributes $X$ is called closed (with respect to a given set of functional dependencies) if
$X^+=X$. Consider a relation with schema $R(A,B,C,D)$ and an unknown set of functional dependencies. For each closed attribute set below, give a set of functional dependencies that is consistent with it.

**a. All sets of attributes are closed (1 point)**

*X+:*

    {A}+ = {A},
    {B}+ = {B},
    {C}+ = {C},
    {D}+ = {D},
    {A, B}+ = {A, B},
    {A, C}+ = {A, C},
    {A, D}+ = {A, D},
    {B, C}+ = {B, C},
    {B, D}+ = {B, D},
    {C, D}+ = {C, D},
    {A, B, C}+ = {A, B, C},
    {A, B, D}+ = {A, B, D},
    {A, C, D}+ = {A, C, D},
    {B, C, D}+ = {B, C, D}, &
    {A, B, C, D}+ = {A, B, C, D}

*FDs: (empty)*

    (A -> A
    B -> B
    C -> C
    D -> D
    ...)
    
*No consistent FDs.Because no attribute Y exists in any X+ s.t. X intersection Y in an empty set, (all) attritutes are only funtionally dependent to itself.*

**b. The only closed sets are $\{\}$ and $\{A,B,C,D\}$ (1 point)**

*X+:*

    {A}+ = {A, B}
    {B}+ = {B, C}
    {C}+ = {C, D}
    {D}+ = {A, D}
    {A, B}+ = {A, B, C, D}
    {A, C}+ = {A, B, C, D}
    {A, D}+ = {A, B, C, D}
    {B, C}+ = {A, B, C, D}
    {B, D}+ = {A, B, C, D}
    {C, D}+ = {A, B, C, D}
    {A, B, C}+ = {A, B, C, D}
    {A, B, D}+ = {A, B, C, D}
    {A, C, D}+ = {A, B, C, D}
    {B, C, D}+ = {A, B, C, D}
    {A, B, C, D}+ = {A, B, C, D}

*FDs:*

    A -> B
    B -> C
    C -> D
    D -> A
    A, B -> C
    A, B -> D
    A, C -> B
    A, C -> D
    A, D -> B
    A, D -> C
    B, C -> A
    B, C -> D
    B, D -> A
    B, D -> C
    C, D -> A
    C, D -> B
    A, B, C -> D
    A, B, D -> C
    A, C, D -> B
    B, C, D -> A
    
*Hence, in short, the FDs below will be consistent with the condition. Other FDs can be derived from these four FDs*
    
    A -> B
    B -> C
    C -> D
    D -> A

**c. The only closed sets are $\{\}$, $\{A,B\}$, and $\{A,B,C,D\}$ (1 point)**

X+:

    {A}+ = {A, B}
    {B}+ = {A, B}
    {C}+ = {C, D}
    {D}+ = {A, B, C, D}
    {A, B}+ = {A, B}
    {A, C}+ = {A, B, C, D}
    {A, D}+ = {A, B, C, D}
    {B, C}+ = {A, B, C, D}
    {B, D}+ = {A, B, C, D}
    {C, D}+ = {A, B, C, D}
    {A, B, C}+ = {A, B, C, D}
    {A, B, D}+ = {A, B, C, D}
    {A, C, D}+ = {A, B, C, D}
    {B, C, D}+ = {A, B, C, D}
    {A, B, C, D}+ = {A, B, C, D}

FDs:

    A -> B
    B -> A
    C -> D
    D -> A 
    D -> B
    D -> C
    A, C -> B
    A, C -> D
    A, D -> B
    A, D -> C
    B, C -> A
    B, C -> D
    B, D -> A
    B, D -> C
    C, D -> A
    A, B, C -> D
    A, B, D -> C
    A, C, D -> B
    B, C, D -> A
    
*Hence, in short, the FDs below will be consistent with the condition. Others FDs can be derived from these five FDs*
    
    A -> B
    B -> A
    C -> D
    D -> A
    D -> C

### Task 5. Normalize a database

Suppose Mike is the owner of a small store. He uses the following database ([mike.db](mike.db)) to store monthly sales of his store. 
* `Sales`(name, discount, mouth, price)

In [3]:
%reload_ext sql
%sql sqlite:///mike.db

'Connected: @mike.db'

In [4]:
%sql select * from Sales limit 5

 * sqlite:///mike.db
   sqlite:///sfu.db
Done.

[('bar1', 0.15, 'apr', 19),
 ('bar8', 0.15, 'apr', 19),
 ('gizmo3', 0.15, 'apr', 19),
 ('gizmo7', 0.15, 'apr', 19),
 ('mouse1', 0.15, 'apr', 19)]


However, Mike finds that the database is difficult to update (i.e., when inserting new data into the database). Your job is to help Mike to normalize his database. You should do the following steps(a-d):

**a.** Find all *nontrivial* functional dependencies in the database.
This is a reverse engineering task, so expect to proceed in a trial and error fashion. Search first for the simple dependencies, say $name \rightarrow discount$ then try the more complex ones, like $name, discount \rightarrow month$, as needed. To check each functional dependency you have to write a SQL query.

Your challenge is to write this SQL query for every candidate functional dependency that you check, such that:

 - the query's answer is always short (say: no more than ten lines - remember that 0 results can be instructive as well)

 - you can determine whether the FD holds or not by looking at the query's answer. Try to be clever in order not to check too many dependencies, but don't miss potential relevant dependencies. For example, if you have A → B and C → D, you do not need to derive AC → BD as well.

**Write down all FDs that you found. (1 point)**

*FDs:*

    name -> price
    month -> discount
    name, discount -> price, month
    month, price -> name, discount

**For each FD above, write down the SQL query that discovered it (remember short queries are preferred) (1 point)**

In [5]:
%%sql

SELECT * 
FROM Sales s1, Sales s2
WHERE s1.name=s2.name AND s1.price!=s2.price;

 * sqlite:///mike.db
   sqlite:///sfu.db
Done.

[]

In [6]:
%%sql 

SELECT * 
FROM Sales s1, Sales s2
WHERE s1.month=s2.month AND s1.discount!=s2.discount;

 * sqlite:///mike.db
   sqlite:///sfu.db
Done.

[]

In [7]:
%%sql

SELECT * 
FROM Sales s1, Sales s2
WHERE s1.name=s2.name AND s1.discount=s2.discount AND
    s1.price!=s2.price AND s1.month!=s2.month;

 * sqlite:///mike.db
   sqlite:///sfu.db
Done.

[]

In [8]:
%%sql
    
SELECT * 
FROM Sales s1, Sales s2
WHERE s1.month=s2.month AND s1.price=s2.price AND
    s1.name!=s2.name AND s1.discount!=s2.discount;

 * sqlite:///mike.db
   sqlite:///sfu.db
Done.

[]

**b. Decompose the `Sales` table into BCNF. Like Task 1, show a description of your decomposition steps. (1 point)**

**Given,**

    S(name, price, discount month)
    

* For S, using FD(X1), name -> price


    {name}+ = {name, price} = S1(name, price)
    
    X1 + (S - S1) = S2(name, discount, month)
    
    

* FOR S2, using FD(X2), month -> discount


    {month}+ = {month, discount} = S21(month, discount)
    
    X2 + (S2 - S21) = S22(name, month)
    
**Therefore,**

    S1(name, price)
    S21(month, discount)
    S22(name, month)

**c.  Write down SQL queries to create the BCNF tables in the [mike.db](mike.db). Create keys and foreign keys where appropriate. (1 point)**

In [9]:
%%sql 

CREATE TABLE NamePriceTable(
    name CHAR(48), 
    price DOUBLE,
    PRIMARY KEY(name)
);

CREATE TABLE MonthDiscountTable(
    month CHAR(16), 
    discount DOUBLE,
    PRIMARY KEY(month)
);

CREATE TABLE NameMonthTable(
    name CHAR(48), 
    month DOUBLE,
    PRIMARY KEY(name, month),
    FOREIGN KEY(name) REFERENCES NamePriceTable(name), 
    FOREIGN KEY(month) REFERENCES MonthDiscountTable(month)
);

 * sqlite:///mike.db
   sqlite:///sfu.db
Done.
Done.
Done.

[]

**d.  Populate the BCNF tables using the data from the sales table. (1 point)**

*Hint:* see [SQL INSERT INTO SELECT Statement](https://www.w3schools.com/sql/sql_insert_into_select.asp)

In [10]:
%%sql

INSERT INTO NamePriceTable SELECT DISTINCT name, price FROM Sales;

INSERT INTO MonthDiscountTable SELECT DISTINCT month, discount FROM Sales;

INSERT INTO NameMonthTable SELECT DISTINCT name, month FROM Sales;

 * sqlite:///mike.db
   sqlite:///sfu.db
36 rows affected.
12 rows affected.
426 rows affected.

[]

In [11]:
%%sql

SELECT x.name, x.price, y.month, y.discount
FROM NamePriceTable x, MonthDiscountTable y, NameMonthTable z
WHERE x.name=z.name AND y.month=z.month;

 * sqlite:///mike.db
   sqlite:///sfu.db
Done.

[('bar1', 19.0, 'apr', 0.15),
 ('bar2', 59.0, 'apr', 0.15),
 ('bar3', 59.0, 'apr', 0.15),
 ('bar4', 29.0, 'apr', 0.15),
 ('bar5', 89.0, 'apr', 0.15),
 ('bar6', 99.0, 'apr', 0.15),
 ('bar7', 29.0, 'apr', 0.15),
 ('bar8', 19.0, 'apr', 0.15),
 ('bar9', 39.0, 'apr', 0.15),
 ('click1', 39.0, 'apr', 0.15),
 ('click2', 39.0, 'apr', 0.15),
 ('click3', 39.0, 'apr', 0.15),
 ('click4', 49.0, 'apr', 0.15),
 ('click5', 99.0, 'apr', 0.15),
 ('click6', 89.0, 'apr', 0.15),
 ('click7', 29.0, 'apr', 0.15),
 ('click8', 39.0, 'apr', 0.15),
 ('gizmo1', 49.0, 'apr', 0.15),
 ('gizmo2', 99.0, 'apr', 0.15),
 ('gizmo3', 19.0, 'apr', 0.15),
 ('gizmo4', 29.0, 'apr', 0.15),
 ('gizmo5', 79.0, 'apr', 0.15),
 ('gizmo6', 29.0, 'apr', 0.15),
 ('gizmo7', 19.0, 'apr', 0.15),
 ('gizmo8', 89.0, 'apr', 0.15),
 ('gizmo9', 79.0, 'apr', 0.15),
 ('mouse1', 19.0, 'apr', 0.15),
 ('mouse2', 49.0, 'apr', 0.15),
 ('mouse3', 29.0, 'apr', 0.15),
 ('mouse4', 69.0, 'apr', 0.15),
 ('mouse5', 89.0, 'apr', 0.15),
 ('mouse6', 99.0, 'apr', 0.15),
 ('mouse7', 29.0, 'apr', 0.15),
 ('mouse8', 59.0, 'apr', 0.15),
 ('mouse9', 69.0, 'apr', 0.15),
 ('bar1', 19.0, 'aug', 0.15),
 ('bar2', 59.0, 'aug', 0.15),
 ('bar3', 59.0, 'aug', 0.15),
 ('bar4', 29.0, 'aug', 0.15),
 ('bar5', 89.0, 'aug', 0.15),
 ('bar6', 99.0, 'aug', 0.15),
 ('bar7', 29.0, 'aug', 0.15),
 ('bar8', 19.0, 'aug', 0.15),
 ('bar9', 39.0, 'aug', 0.15),
 ('click2', 39.0, 'aug', 0.15),
 ('click3', 39.0, 'aug', 0.15),
 ('click4', 49.0, 'aug', 0.15),
 ('click5', 99.0, 'aug', 0.15),
 ('click6', 89.0, 'aug', 0.15),
 ('click7', 29.0, 'aug', 0.15),
 ('click8', 39.0, 'aug', 0.15),
 ('click9', 49.0, 'aug', 0.15),
 ('gizmo1', 49.0, 'aug', 0.15),
 ('gizmo2', 99.0, 'aug', 0.15),
 ('gizmo3', 19.0, 'aug', 0.15),
 ('gizmo4', 29.0, 'aug', 0.15),
 ('gizmo5', 79.0, 'aug', 0.15),
 ('gizmo6', 29.0, 'aug', 0.15),
 ('gizmo7', 19.0, 'aug', 0.15),
 ('gizmo8', 89.0, 'aug', 0.15),
 ('gizmo9', 79.0, 'aug', 0.15),
 ('mouse1', 19.0, 'aug', 0.15),
 ('mouse2', 49.0, 'aug', 0.15),
 ('mouse3', 29.0, 'aug', 0.15),
 ('mouse4', 69.0, 'aug', 0.15),
 ('mouse5', 89.0, 'aug', 0.15),
 ('mouse6', 99.0, 'aug', 0.15),
 ('mouse7', 29.0, 'aug', 0.15),
 ('mouse8', 59.0, 'aug', 0.15),
 ('mouse9', 69.0, 'aug', 0.15),
 ('bar1', 19.0, 'dec', 0.33),
 ('bar2', 59.0, 'dec', 0.33),
 ('bar3', 59.0, 'dec', 0.33),
 ('bar4', 29.0, 'dec', 0.33),
 ('bar5', 89.0, 'dec', 0.33),
 ('bar6', 99.0, 'dec', 0.33),
 ('bar7', 29.0, 'dec', 0.33),
 ('bar8', 19.0, 'dec', 0.33),
 ('bar9', 39.0, 'dec', 0.33),
 ('click1', 39.0, 'dec', 0.33),
 ('click2', 39.0, 'dec', 0.33),
 ('click3', 39.0, 'dec', 0.33),
 ('click4', 49.0, 'dec', 0.33),
 ('click5', 99.0, 'dec', 0.33),
 ('click6', 89.0, 'dec', 0.33),
 ('click7', 29.0, 'dec', 0.33),
 ('click8', 39.0, 'dec', 0.33),
 ('click9', 49.0, 'dec', 0.33),
 ('gizmo1', 49.0, 'dec', 0.33),
 ('gizmo2', 99.0, 'dec', 0.33),
 ('gizmo3', 19.0, 'dec', 0.33),
 ('gizmo4', 29.0, 'dec', 0.33),
 ('gizmo6', 29.0, 'dec', 0.33),
 ('gizmo7', 19.0, 'dec', 0.33),
 ('gizmo8', 89.0, 'dec', 0.33),
 ('gizmo9', 79.0, 'dec', 0.33),
 ('mouse1', 19.0, 'dec', 0.33),
 ('mouse2', 49.0, 'dec', 0.33),
 ('mouse3', 29.0, 'dec', 0.33),
 ('mouse4', 69.0, 'dec', 0.33),
 ('mouse5', 89.0, 'dec', 0.33),
 ('mouse6', 99.0, 'dec', 0.33),
 ('mouse7', 29.0, 'dec', 0.33),
 ('mouse8', 59.0, 'dec', 0.33),
 ('mouse9', 69.0, 'dec', 0.33),
 ('bar1', 19.0, 'feb', 0.1),
 ('bar2', 59.0, 'feb', 0.1),
 ('bar3', 59.0, 'feb', 0.1),
 ('bar5', 89.0, 'feb', 0.1),
 ('bar6', 99.0, 'feb', 0.1),
 ('bar7', 29.0, 'feb', 0.1),
 ('bar8', 19.0, 'feb', 0.1),
 ('bar9', 39.0, 'feb', 0.1),
 ('click1', 39.0, 'feb', 0.1),
 ('click2', 39.0, 'feb', 0.1),
 ('click3', 39.0, 'feb', 0.1),
 ('click4', 49.0, 'feb', 0.1),
 ('click5', 99.0, 'feb', 0.1),
 ('click6', 89.0, 'feb', 0.1),
 ('click7', 29.0, 'feb', 0.1),
 ('click8', 39.0, 'feb', 0.1),
 ('click9', 49.0, 'feb', 0.1),
 ('gizmo1', 49.0, 'feb', 0.1),
 ('gizmo2', 99.0, 'feb', 0.1),
 ('gizmo3', 19.0, 'feb', 0.1),
 ('gizmo4', 29.0, 'feb', 0.1),
 ('gizmo5', 79.0, 'feb', 0.1),
 ('gizmo6', 29.0, 'feb', 0.1),
 ('gizmo7', 19.0, 'feb', 0.1),
 ('gizmo8', 89.0, 'feb', 0.1),
 ('gizmo9', 79.0, 'feb', 0.1),
 ('mouse1', 19.0, 'feb', 0.1),
 ('mouse2', 49.0, 'feb', 0.1),
 ('mouse3', 29.0, 'feb', 0.1),
 ('mouse4', 69.0, 'feb', 0.1),
 ('mouse5', 89.0, 'feb', 0.1),
 ('mouse6', 99.0, 'feb', 0.1),
 ('mouse7', 29.0, 'feb', 0.1),
 ('mouse8', 59.0, 'feb', 0.1),
 ('mouse9', 69.0, 'feb', 0.1),
 ('bar1', 19.0, 'jan', 0.33),
 ('bar2', 59.0, 'jan', 0.33),
 ('bar3', 59.0, 'jan', 0.33),
 ('bar4', 29.0, 'jan', 0.33),
 ('bar5', 89.0, 'jan', 0.33),
 ('bar6', 99.0, 'jan', 0.33),
 ('bar7', 29.0, 'jan', 0.33),
 ('bar8', 19.0, 'jan', 0.33),
 ('bar9', 39.0, 'jan', 0.33),
 ('click1', 39.0, 'jan', 0.33),
 ('click2', 39.0, 'jan', 0.33),
 ('click3', 39.0, 'jan', 0.33),
 ('click4', 49.0, 'jan', 0.33),
 ('click5', 99.0, 'jan', 0.33),
 ('click6', 89.0, 'jan', 0.33),
 ('click7', 29.0, 'jan', 0.33),
 ('click8', 39.0, 'jan', 0.33),
 ('click9', 49.0, 'jan', 0.33),
 ('gizmo1', 49.0, 'jan', 0.33),
 ('gizmo2', 99.0, 'jan', 0.33),
 ('gizmo3', 19.0, 'jan', 0.33),
 ('gizmo4', 29.0, 'jan', 0.33),
 ('gizmo5', 79.0, 'jan', 0.33),
 ('gizmo6', 29.0, 'jan', 0.33),
 ('gizmo7', 19.0, 'jan', 0.33),
 ('gizmo8', 89.0, 'jan', 0.33),
 ('gizmo9', 79.0, 'jan', 0.33),
 ('mouse2', 49.0, 'jan', 0.33),
 ('mouse3', 29.0, 'jan', 0.33),
 ('mouse4', 69.0, 'jan', 0.33),
 ('mouse5', 89.0, 'jan', 0.33),
 ('mouse6', 99.0, 'jan', 0.33),
 ('mouse7', 29.0, 'jan', 0.33),
 ('mouse8', 59.0, 'jan', 0.33),
 ('mouse9', 69.0, 'jan', 0.33),
 ('bar1', 19.0, 'jul', 0.33),
 ('bar2', 59.0, 'jul', 0.33),
 ('bar3', 59.0, 'jul', 0.33),
 ('bar4', 29.0, 'jul', 0.33),
 ('bar5', 89.0, 'jul', 0.33),
 ('bar6', 99.0, 'jul', 0.33),
 ('bar7', 29.0, 'jul', 0.33),
 ('bar8', 19.0, 'jul', 0.33),
 ('bar9', 39.0, 'jul', 0.33),
 ('click1', 39.0, 'jul', 0.33),
 ('click2', 39.0, 'jul', 0.33),
 ('click4', 49.0, 'jul', 0.33),
 ('click5', 99.0, 'jul', 0.33),
 ('click6', 89.0, 'jul', 0.33),
 ('click7', 29.0, 'jul', 0.33),
 ('click8', 39.0, 'jul', 0.33),
 ('click9', 49.0, 'jul', 0.33),
 ('gizmo1', 49.0, 'jul', 0.33),
 ('gizmo2', 99.0, 'jul', 0.33),
 ('gizmo3', 19.0, 'jul', 0.33),
 ('gizmo4', 29.0, 'jul', 0.33),
 ('gizmo5', 79.0, 'jul', 0.33),
 ('gizmo6', 29.0, 'jul', 0.33),
 ('gizmo7', 19.0, 'jul', 0.33),
 ('gizmo8', 89.0, 'jul', 0.33),
 ('gizmo9', 79.0, 'jul', 0.33),
 ('mouse1', 19.0, 'jul', 0.33),
 ('mouse2', 49.0, 'jul', 0.33),
 ('mouse3', 29.0, 'jul', 0.33),
 ('mouse4', 69.0, 'jul', 0.33),
 ('mouse5', 89.0, 'jul', 0.33),
 ('mouse6', 99.0, 'jul', 0.33),
 ('mouse7', 29.0, 'jul', 0.33),
 ('mouse8', 59.0, 'jul', 0.33),
 ('mouse9', 69.0, 'jul', 0.33),
 ('bar1', 19.0, 'jun', 0.1),
 ('bar2', 59.0, 'jun', 0.1),
 ('bar3', 59.0, 'jun', 0.1),
 ('bar4', 29.0, 'jun', 0.1),
 ('bar5', 89.0, 'jun', 0.1),
 ('bar6', 99.0, 'jun', 0.1),
 ('bar7', 29.0, 'jun', 0.1),
 ('bar8', 19.0, 'jun', 0.1),
 ('bar9', 39.0, 'jun', 0.1),
 ('click1', 39.0, 'jun', 0.1),
 ('click2', 39.0, 'jun', 0.1),
 ('click3', 39.0, 'jun', 0.1),
 ('click4', 49.0, 'jun', 0.1),
 ('click5', 99.0, 'jun', 0.1),
 ('click6', 89.0, 'jun', 0.1),
 ('click7', 29.0, 'jun', 0.1),
 ('click8', 39.0, 'jun', 0.1),
 ('click9', 49.0, 'jun', 0.1),
 ('gizmo1', 49.0, 'jun', 0.1),
 ('gizmo2', 99.0, 'jun', 0.1),
 ('gizmo3', 19.0, 'jun', 0.1),
 ('gizmo4', 29.0, 'jun', 0.1),
 ('gizmo5', 79.0, 'jun', 0.1),
 ('gizmo6', 29.0, 'jun', 0.1),
 ('gizmo7', 19.0, 'jun', 0.1),
 ('gizmo8', 89.0, 'jun', 0.1),
 ('gizmo9', 79.0, 'jun', 0.1),
 ('mouse1', 19.0, 'jun', 0.1),
 ('mouse2', 49.0, 'jun', 0.1),
 ('mouse3', 29.0, 'jun', 0.1),
 ('mouse4', 69.0, 'jun', 0.1),
 ('mouse5', 89.0, 'jun', 0.1),
 ('mouse6', 99.0, 'jun', 0.1),
 ('mouse7', 29.0, 'jun', 0.1),
 ('mouse8', 59.0, 'jun', 0.1),
 ('mouse9', 69.0, 'jun', 0.1),
 ('bar1', 19.0, 'mar', 0.15),
 ('bar2', 59.0, 'mar', 0.15),
 ('bar3', 59.0, 'mar', 0.15),
 ('bar4', 29.0, 'mar', 0.15),
 ('bar5', 89.0, 'mar', 0.15),
 ('bar6', 99.0, 'mar', 0.15),
 ('bar7', 29.0, 'mar', 0.15),
 ('bar8', 19.0, 'mar', 0.15),
 ('bar9', 39.0, 'mar', 0.15),
 ('click1', 39.0, 'mar', 0.15),
 ('click2', 39.0, 'mar', 0.15),
 ('click3', 39.0, 'mar', 0.15),
 ('click4', 49.0, 'mar', 0.15),
 ('click5', 99.0, 'mar', 0.15),
 ('click6', 89.0, 'mar', 0.15),
 ('click7', 29.0, 'mar', 0.15),
 ('click8', 39.0, 'mar', 0.15),
 ('click9', 49.0, 'mar', 0.15),
 ('gizmo1', 49.0, 'mar', 0.15),
 ('gizmo2', 99.0, 'mar', 0.15),
 ('gizmo3', 19.0, 'mar', 0.15),
 ('gizmo4', 29.0, 'mar', 0.15),
 ('gizmo5', 79.0, 'mar', 0.15),
 ('gizmo6', 29.0, 'mar', 0.15),
 ('gizmo7', 19.0, 'mar', 0.15),
 ('gizmo8', 89.0, 'mar', 0.15),
 ('gizmo9', 79.0, 'mar', 0.15),
 ('mouse1', 19.0, 'mar', 0.15),
 ('mouse2', 49.0, 'mar', 0.15),
 ('mouse3', 29.0, 'mar', 0.15),
 ('mouse4', 69.0, 'mar', 0.15),
 ('mouse5', 89.0, 'mar', 0.15),
 ('mouse6', 99.0, 'mar', 0.15),
 ('mouse7', 29.0, 'mar', 0.15),
 ('mouse8', 59.0, 'mar', 0.15),
 ('mouse9', 69.0, 'mar', 0.15),
 ('bar1', 19.0, 'may', 0.1),
 ('bar2', 59.0, 'may', 0.1),
 ('bar3', 59.0, 'may', 0.1),
 ('bar4', 29.0, 'may', 0.1),
 ('bar5', 89.0, 'may', 0.1),
 ('bar6', 99.0, 'may', 0.1),
 ('bar7', 29.0, 'may', 0.1),
 ('bar8', 19.0, 'may', 0.1),
 ('bar9', 39.0, 'may', 0.1),
 ('click1', 39.0, 'may', 0.1),
 ('click2', 39.0, 'may', 0.1),
 ('click3', 39.0, 'may', 0.1),
 ('click4', 49.0, 'may', 0.1),
 ('click5', 99.0, 'may', 0.1),
 ('click6', 89.0, 'may', 0.1),
 ('click7', 29.0, 'may', 0.1),
 ('click8', 39.0, 'may', 0.1),
 ('click9', 49.0, 'may', 0.1),
 ('gizmo1', 49.0, 'may', 0.1),
 ('gizmo2', 99.0, 'may', 0.1),
 ('gizmo3', 19.0, 'may', 0.1),
 ('gizmo4', 29.0, 'may', 0.1),
 ('gizmo5', 79.0, 'may', 0.1),
 ('gizmo6', 29.0, 'may', 0.1),
 ('gizmo7', 19.0, 'may', 0.1),
 ('gizmo8', 89.0, 'may', 0.1),
 ('gizmo9', 79.0, 'may', 0.1),
 ('mouse1', 19.0, 'may', 0.1),
 ('mouse2', 49.0, 'may', 0.1),
 ('mouse3', 29.0, 'may', 0.1),
 ('mouse4', 69.0, 'may', 0.1),
 ('mouse5', 89.0, 'may', 0.1),
 ('mouse6', 99.0, 'may', 0.1),
 ('mouse7', 29.0, 'may', 0.1),
 ('mouse8', 59.0, 'may', 0.1),
 ('mouse9', 69.0, 'may', 0.1),
 ('bar1', 19.0, 'nov', 0.15),
 ('bar2', 59.0, 'nov', 0.15),
 ('bar3', 59.0, 'nov', 0.15),
 ('bar4', 29.0, 'nov', 0.15),
 ('bar5', 89.0, 'nov', 0.15),
 ('bar6', 99.0, 'nov', 0.15),
 ('bar7', 29.0, 'nov', 0.15),
 ('bar8', 19.0, 'nov', 0.15),
 ('bar9', 39.0, 'nov', 0.15),
 ('click1', 39.0, 'nov', 0.15),
 ('click2', 39.0, 'nov', 0.15),
 ('click3', 39.0, 'nov', 0.15),
 ('click4', 49.0, 'nov', 0.15),
 ('click5', 99.0, 'nov', 0.15),
 ('click6', 89.0, 'nov', 0.15),
 ('click7', 29.0, 'nov', 0.15),
 ('click8', 39.0, 'nov', 0.15),
 ('click9', 49.0, 'nov', 0.15),
 ('gizmo1', 49.0, 'nov', 0.15),
 ('gizmo2', 99.0, 'nov', 0.15),
 ('gizmo3', 19.0, 'nov', 0.15),
 ('gizmo4', 29.0, 'nov', 0.15),
 ('gizmo5', 79.0, 'nov', 0.15),
 ('gizmo6', 29.0, 'nov', 0.15),
 ('gizmo7', 19.0, 'nov', 0.15),
 ('gizmo8', 89.0, 'nov', 0.15),
 ('gizmo9', 79.0, 'nov', 0.15),
 ('mouse1', 19.0, 'nov', 0.15),
 ('mouse2', 49.0, 'nov', 0.15),
 ('mouse3', 29.0, 'nov', 0.15),
 ('mouse4', 69.0, 'nov', 0.15),
 ('mouse5', 89.0, 'nov', 0.15),
 ('mouse6', 99.0, 'nov', 0.15),
 ('mouse7', 29.0, 'nov', 0.15),
 ('mouse8', 59.0, 'nov', 0.15),
 ('mouse9', 69.0, 'nov', 0.15),
 ('bar1', 19.0, 'oct', 0.1),
 ('bar2', 59.0, 'oct', 0.1),
 ('bar3', 59.0, 'oct', 0.1),
 ('bar4', 29.0, 'oct', 0.1),
 ('bar5', 89.0, 'oct', 0.1),
 ('bar6', 99.0, 'oct', 0.1),
 ('bar7', 29.0, 'oct', 0.1),
 ('bar8', 19.0, 'oct', 0.1),
 ('bar9', 39.0, 'oct', 0.1),
 ('click1', 39.0, 'oct', 0.1),
 ('click2', 39.0, 'oct', 0.1),
 ('click3', 39.0, 'oct', 0.1),
 ('click4', 49.0, 'oct', 0.1),
 ('click5', 99.0, 'oct', 0.1),
 ('click6', 89.0, 'oct', 0.1),
 ('click7', 29.0, 'oct', 0.1),
 ('click8', 39.0, 'oct', 0.1),
 ('click9', 49.0, 'oct', 0.1),
 ('gizmo1', 49.0, 'oct', 0.1),
 ('gizmo2', 99.0, 'oct', 0.1),
 ('gizmo3', 19.0, 'oct', 0.1),
 ('gizmo4', 29.0, 'oct', 0.1),
 ('gizmo5', 79.0, 'oct', 0.1),
 ('gizmo6', 29.0, 'oct', 0.1),
 ('gizmo7', 19.0, 'oct', 0.1),
 ('gizmo8', 89.0, 'oct', 0.1),
 ('gizmo9', 79.0, 'oct', 0.1),
 ('mouse1', 19.0, 'oct', 0.1),
 ('mouse2', 49.0, 'oct', 0.1),
 ('mouse3', 29.0, 'oct', 0.1),
 ('mouse4', 69.0, 'oct', 0.1),
 ('mouse5', 89.0, 'oct', 0.1),
 ('mouse6', 99.0, 'oct', 0.1),
 ('mouse7', 29.0, 'oct', 0.1),
 ('mouse8', 59.0, 'oct', 0.1),
 ('mouse9', 69.0, 'oct', 0.1),
 ('bar1', 19.0, 'sep', 0.15),
 ('bar2', 59.0, 'sep', 0.15),
 ('bar3', 59.0, 'sep', 0.15),
 ('bar4', 29.0, 'sep', 0.15),
 ('bar5', 89.0, 'sep', 0.15),
 ('bar6', 99.0, 'sep', 0.15),
 ('bar7', 29.0, 'sep', 0.15),
 ('bar8', 19.0, 'sep', 0.15),
 ('bar9', 39.0, 'sep', 0.15),
 ('click1', 39.0, 'sep', 0.15),
 ('click2', 39.0, 'sep', 0.15),
 ('click3', 39.0, 'sep', 0.15),
 ('click4', 49.0, 'sep', 0.15),
 ('click5', 99.0, 'sep', 0.15),
 ('click6', 89.0, 'sep', 0.15),
 ('click7', 29.0, 'sep', 0.15),
 ('click8', 39.0, 'sep', 0.15),
 ('click9', 49.0, 'sep', 0.15),
 ('gizmo1', 49.0, 'sep', 0.15),
 ('gizmo2', 99.0, 'sep', 0.15),
 ('gizmo3', 19.0, 'sep', 0.15),
 ('gizmo4', 29.0, 'sep', 0.15),
 ('gizmo5', 79.0, 'sep', 0.15),
 ('gizmo6', 29.0, 'sep', 0.15),
 ('gizmo7', 19.0, 'sep', 0.15),
 ('gizmo8', 89.0, 'sep', 0.15),
 ('gizmo9', 79.0, 'sep', 0.15),
 ('mouse1', 19.0, 'sep', 0.15),
 ('mouse2', 49.0, 'sep', 0.15),
 ('mouse3', 29.0, 'sep', 0.15),
 ('mouse4', 69.0, 'sep', 0.15),
 ('mouse5', 89.0, 'sep', 0.15),
 ('mouse6', 99.0, 'sep', 0.15),
 ('mouse7', 29.0, 'sep', 0.15),
 ('mouse8', 59.0, 'sep', 0.15),
 ('mouse9', 69.0, 'sep', 0.15)]

## Submission

Download [A4.zip](A4.zip). Answer the questions in A4.ipynb. Put `A4.ipynb`, `ER-diagram.png`, `sfu.db`, and the `mike.db` (with populated BCNF tables) into A4-submission.zip. 

Submit A4-submission.zip to the CourSys activity Assignment 4.